<div class="row">
  <div class="col-xs-10">
    <app-shoppinglistedit></app-shoppinglistedit>
    <hr>
    <ul class="list-group">
      <a *ngFor="let ingredient of ingredients; let i=index"
          style="cursor:pointer"
          class="list-group-item">
        <div class="row">
          <div class="col-xs-10"> {{ ingredient.name }} ({{ ingredient.amount }}) </div>
          <div class="col-xs-2">
            <button (click)="onEditShoppingList(i)" class="btn btn-primary">Edit</button>
          </div>
        </div>
      </a>
    </ul>
  </div>
</div>